* {
    padding:0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/imc3.jpg) ;
    /* background: url(img/imc4.jpg) no-repeat center center; */
    /* position: fixed;  */
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    /* position: absolute; */
}

.formulario {
    width: 85%;
    margin-left: 20px;
    /* margin-right: 60px; */
    margin-top: 10px;
    margin: auto;
}

form {
    color: #296e09;
    margin: 0 auto;
    width: 100%;
    border: 1px solid rgb(220, 243, 10);
    border-radius: 1em;
    background-color: rgb(220, 243, 10);
    opacity: 0.8;
}

form div {
    margin-top: 20px;
}

form div h2 {
    color: floralwhite;
    background-color:#47a81a ;
    padding: 5px 0 5px 30px;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
    padding-right: 10px;
}

input {
    border: 1px solid #999;
    height: 25px;
    width: 140px;
    font-size: 1em;
}

.botoes {
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
    background:#47a81a ;
    color: floralwhite;
    box-shadow: 0 5px 0 #133303 ;
}

.btn:hover{
    background:#47a81a ;
    color: floralwhite;
    box-shadow: 0 5px 0 #133303 ;
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

h1 {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFF;
    text-align: center;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    word-spacing: 2px;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.3em;
    color: #296e09;
}

.imc {
    display: inline-block;
    /* margin: auto; */
    text-align: center;
    /* padding-left: 60px; */
}

.imc figure img {
    padding-top: 20px;
}

.container {
    /* margin-left: 300px; */
    width: 60%;
    margin: auto;
    opacity: 0.8;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center ;
    font-weight: bold;
    border-radius: 1em;
    color: #ecff4e;
    background-color:#47a81a ;
    padding: 10px 0 10px 0px;
}

.botoes2 {
    margin: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.btn-2 {
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
    background:#47a81a ;
    color: floralwhite;
    box-shadow: 0 5px 0 #133303 ;
}

.btn-2:hover{
    background:#47a81a ;
    color: floralwhite;
    box-shadow: 0 5px 0 #133303 ;
}

.btn-2:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

hr {
    margin-bottom: 10px;
}